section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 2rem 2rem;
}
.color {
    background-color: var(--bg-color);
}
.analysis {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    color: var(--text-color);
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    transition: 0.5s ease-in-out;
}
.analysis:hover {
    background-color: var(--hov-card-color);
    color: var(--main-color);
}
.design {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    background-color: var(--card-color);
    border-radius: 1rem;
    border: 1px solid var(--main-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
}
.total {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 20px;
}
.svg {
    color: var(--text-color);
}
span.t{
    color: var(--text-color);
}
