.sidebar_container{
    position: fixed;
    background: var(--main-color);
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sidebar{
    display: flex;
    height: 95%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    margin: auto;
}
.toggle {
    position: absolute;
    top: 0rem;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 1rem;
}
.profile > h3 {
    align-self: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 5px;
}
.profile > h3 > span.focus-profile {
    color: var(--main-color);
}
.groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 6px;
    color: var(--text-color);
}
.icon{
    margin-right: 1rem;
}
@media screen and (max-width: 768px) {
    .group {
        margin-left: -10px;
    }
    .toggle {
        top: 0rem;
        height: 15px;
        width: 15px;
    }
}
@media screen and (max-width: 540px) {
    .group {
        margin-left: -14px;
    }
}
@media screen and (max-width: 414px) {
      .toggle {
        top: 0rem;
        height: 15px;
        width: 15px;
    }
      .item {
        padding: 10px 0px;
        font-size: 9px;
}
}
@media screen and (max-width: 412px){
    .group {
        margin-left: -3px;
    }
}

@media screen and (max-width: 375px) {
    .toggle {
        top: 0rem;
        height: 15px;
        width: 15px;
    }
    .item {
        padding: 10px 0px;
        font-size: 9px;
}
}
@media screen and (max-width: 280px){
    .group {
        margin-left: -2px;
    }
}
