
.carousel-item {
    margin-top: -12rem;
}
.carousel-indicators {
    top: 31rem;
}
.carousel-item {
    padding: 50px;
}
.swiperImg {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }