:root{
    --text-color: #ffff;
    --bg-color: #cd36ff78;
    --main-color: blueviolet;
    --card-color: rgb(179, 102, 250);
    --hov-card-color: rgb(196, 136, 253);
}
.App{
    display: flex;
    color: var(--text-color);
    background: linear-gradient(179deg, #176eb5, #d545d7);
    text-shadow: 1px 0px 2px #8dc4f0;
    height: 100vh;
}

